site_name: 纯情部落·学习
site_url: https://xue.qing.tk
repo_url: https://github.com/qingtk/xue
edit_uri: blob/main/docs/

theme:
  name: material
  features:
    # - navigation.instant
    - content.action.edit
  
  palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: light blue
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: dark blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    
extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/qingtk
