name: ci
on:
  push:
    branches: [main]
  repository_dispatch:
    types: [update_submodule]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: |
          pip install mkdocs-material
          mkdocs build
          mkdocs gh-deploy --force